.masthead {
    background-color: /*#209765*/#F9D423
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: /*#E2E2E2*/#103966;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}